body {
    margin: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    font-family: Helvetica, sans-serif;
}


nav {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #03182e;
    color: #fafafa;
}

#logo {
    padding: 0;
    margin: 0;
    width: 15em;
}

#logo > img {
    height: 90%;
    transform: scale(0.5);
}


ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
}
li {
    margin: 0 20px;
    list-style-type: none;
    cursor: pointer;
}

#subscribe {
    background-color: #a71600;
    padding: 5px 20px;
    border-radius: 5px;
}

/*main*/

main {
    height: 100%;
    margin: 0 20px;
    border-left: solid 1px #d0d7de;
}

ul#navigation {
    padding: 25px 5px;
    font-size: 0.9rem;
    list-style: none;
    margin: 0 10px;
}

#navigation > li {
    margin: 0;
}

ul#navigation li+li:before {
    padding: 20px;
    color: black;
    content: ">\00a0";
}

#navigation > li > a {
    color: #12439c;
    text-decoration: none;
}